<li class="comment">
  <div class="content">
   <%= comment.content %>
   <br><br><em><%= comment.created_at.strftime("%B %y, %Y, %I:%M%P") %></em>
   <br><br><%= link_to( image_tag("http://s3.amazonaws.com/rapgenius/4XfqCmrSXWvJhhk9vZxc_facebook-like-icon.png", class: "vote"), up_vote_comment_path(comment), method: :post) %>
      <%= comment.up_vote %>
          <%= link_to( image_tag("http://img.wonderhowto.com/img/84/98/63438314220753/0/add-dislike-button-your-facebook-page.w654.jpg", class: "vote"), down_vote_comment_path(comment), method: :post) %>
      <%= comment.down_vote %>


  <p><%= link_to 'Add a Reply', new_comment_comment_path(comment) %></p>
  </div>


  <% unless comment.comments.empty? %>
    <ul class="comment_list">
      <%= render :partial => 'comments/comment', :collection => comment.comments %>
    </ul>
  <% end %>
</li>
