
<h1> Query: </h1>
<div class="content">
 <% if @query.english %>
 <br>Title: <%= @query.title %> 
 <br>Description: <%= @query.description %> 
 <br>English: <%=@query.english%>
 <%end%>
 <br>Content: <%= @query.content %>  
 <br><%= @query.created_at %> 
</div>

<h2>Comments</h2>

 <p><%= link_to 'Add a Comment', new_query_comment_path(@query) %></p> 




<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @query.comments %>
</ul>
