
<h1><%= @language.lingua %><%= image_tag(@language.flag) %></h1>
<br><br>
<div class="content">
 <h4><%= @query.title %></h4>

 <% if @query.english %>
 	<br><strong>English: </strong><%=@query.english%><br>
 <%end%>
 <% if @query.other %>
    <br><strong>Content: </strong><%= @query.other %><br>
 <%end%>


 <br><em><%= @query.created_at.strftime("%B %y, %Y, %I:%M%P") %></em>

</div>

<div class="comments">
<h2>Comments</h2>

 <p><%= link_to 'Add a Comment', new_query_comment_path(@query) %></p>

<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @query.comments %>
</ul>
</div>
 <p><%= link_to 'Back', language_path(@language), class: "btn btn-default" %></p>
