</br></br>
<h1> Title: <%= @query.title %>  </h1>
<div class="content">
  <br>English: <%= @query.english %> 
<br>Content: <%= @query.other %> 
<br><%= @query.created_at %> 
</div>

<h2>Comments</h2>

 <p><%= link_to 'Add a Comment', new_query_comment_path(@query) %></p> 




<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @query.comments %>
</ul>


</br></br>
 <p><%= link_to 'Back', queries_path %></p>

